In [10]:
import seaborn as sns
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [11]:
#Open the correct file 
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Cabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,C85
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,C123
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,NaN

In [14]:
#Choose five colums to work with
df = df[['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch']]
#drop the empty cells
df = df.dropna()

We drop the empty cells after choosing the cells as not to loose values that we might be able to use. We don't drop a whole row with a NA that we didn't need anyway.

In [15]:
dummies = pd.get_dummies(df['Sex'])
dummies.head(1)

df = pd.concat([df, dummies], axis=1)


df.head()

   Survived  Pclass     Sex  SibSp  Parch  female  male
0         0       3    male      1      0       0     1
1         1       1  female      1      0       1     0
2         1       3  female      0      0       1     0
3         1       1  female      1      0       1     0
4         0       3    male      0      0       0     1

In [16]:
from sklearn.preprocessing import normalize #get the function needed to normalize our data.

X = df[['SibSp', 'Pclass', 'Parch', 'female', 'male']] 
X = normalize(X) 
y = df['Survived']

In [17]:
#Split part of the data to create a test set. Split the data and then store it into different variables
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [27]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5) #create a KNN-classifier with 5 neighbors (default)
knn = knn.fit(X_train, y_train) #this fits the k-nearest neigbor model with the train data
knn.score(X_test, y_test) #calculate the fit on the test data

0.75

In [28]:
from sklearn.metrics import confusion_matrix
y_test_pred = knn.predict(X_test) #the predicted values
cm = confusion_matrix(y_test, y_test_pred) #creates a "confusion matrix"
cm

array([[133,  20],
       [ 47,  68]])

In [29]:
conf_matrix = pd.DataFrame(cm, index=['Not Survived', 'Survived'], columns = ['Not survived_p', 'Survived_p']) 
conf_matrix

              Not survived_p  Survived_p
Not Survived             133          20
Survived                  47          68

In [33]:
Recall = 133 / (133 + 20) 
Recall

0.869281045751634

In [32]:
Precision = 133 / (133 + 47)
Precision

0.7388888888888889